@model IEnumerable<Coffee>
@{
    ViewData["Title"] = "Browse";
}


<h1>Browse</h1>

<div class="container">
<div class="text-center">
    @foreach (var item in Model)
    {
        <div class="col">
            <table class="table">
                <tr>
                    <td>
                        <h3 class="text-center">@Html.DisplayFor(modelItem => item.CoffeeName)</h3>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img width="300px" height="300px" src="~/images/@Html.DisplayFor(modelItem => item.ImagePath)" /></a>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <h5 class="text-center">@Html.DisplayFor(modelItem => item.CoffeePrice)</h5>
                        <button class="btn btn-info" onclick="orderCoffee(event)" id="@Html.DisplayFor(modelItem => item.CoffeeId)">Purchase</button>
                    </td>
                </tr>
            </table>

        </div>
    }
</div>
</div>
