@{
    ViewData["Title"] = "Index";
}

<h1>Book a lesson</h1>

<form>
    <div>
        <label for="lesson">Name:</label>
        <input type="text" id="name" name="name" class="form-control" />
        <br/>
        <label for="lesson">Book a lesson:</label>
        <input type="date" id="lesson" name="lesson" class="form-control"/>
        <br/>
        <button class="btn btn-outline-primary">Book</button>
    </div>

</form>